In [1]:
import pandas as pd

In [2]:
data_url = 'https://s3-us-west-2.amazonaws.com/streamlit-demo-data/uber-raw-data-sep14.csv.gz'

In [3]:
data = pd.read_csv(data_url, nrows=10)

In [5]:
data

          Date/Time      Lat      Lon    Base
0  9/1/2014 0:01:00  40.2201 -74.0021  B02512
1  9/1/2014 0:01:00  40.7500 -74.0027  B02512
2  9/1/2014 0:03:00  40.7559 -73.9864  B02512
3  9/1/2014 0:06:00  40.7450 -73.9889  B02512
4  9/1/2014 0:11:00  40.8145 -73.9444  B02512
5  9/1/2014 0:12:00  40.6735 -73.9918  B02512
6  9/1/2014 0:15:00  40.7471 -73.6472  B02512
7  9/1/2014 0:16:00  40.6613 -74.2691  B02512
8  9/1/2014 0:32:00  40.3745 -73.9999  B02512
9  9/1/2014 0:33:00  40.7633 -73.9773  B02512

In [6]:
data.describe()

             Lat        Lon
count  10.000000  10.000000
mean   40.650520 -73.980980
std     0.194638   0.148046
min    40.220100 -74.269100
25%    40.664350 -74.001550
50%    40.746050 -73.990350
75%    40.754425 -73.979575
max    40.814500 -73.647200